# Environment variables
.env

# Docker volumes (local folders)
volumes/

# API (Go)
api/tmp/
api/*.log

# UI (Angular)
ui/node_modules/
ui/dist/
ui/.angular/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

